body {
  margin: 0;
  text-align: center;
}

.top {
  background-color: #FFF6EA;
  position: relative;
  padding: 100px;
  padding-bottom: 0;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #DEA057;
}

p {
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  margin-top: 0;
    color: #DEA057;
    font-weight:normal;
}

h3
{
  color: #CE9461;
}
a
{
color: #CE9461
}
.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}

.dp {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.skill-1 {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.skill-2 {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.skill-row
{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}
.bottom-container
{
    background-color: #FFF6EA;
    padding-top: 20px;
    height: 100px;
}

.contact-btn
{
  margin: 50px;
}

.btn {
  background: #CE9461;
  background-image: -webkit-linear-gradient(top, #CE9461, #CE9461);
  background-image: -moz-linear-gradient(top, #CE9461, #CE9461);
  background-image: -ms-linear-gradient(top, #CE9461, #CE9461);
  background-image: -o-linear-gradient(top, #CE9461, #CE9461);
  background-image: linear-gradient(to bottom, #CE9461, #CE9461);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #DEA057;
  background-image: -webkit-linear-gradient(top, #DEA057, #DEA057);
  background-image: -moz-linear-gradient(top, #DEA057, #DEA057);
  background-image: -ms-linear-gradient(top, #DEA057, #DEA057);
  background-image: -o-linear-gradient(top, #DEA057, #DEA057);
  background-image: linear-gradient(to bottom, #DEA057, #DEA057);
  text-decoration: none;
}

.contact-me
{
  text-align: center;
}

hr {
  background-color: #EAF6F6;
  border-style: none;
  border-top: 6px dotted #DEA057;
  width: 5%;
  margin: 50px auto 50px auto;
}

.contact-links
{
  word-spacing: 20px;
  text-decoration: none;
  margin-bottom: 30px;
}
